#connect-leap {
    visibility: hidden;
}

#firstnote {
    visibility: hidden;
}

#greeting {
    visibility: hidden;
}

#button {
    visibility: visible;
}

#greeting2 {
    visibility: hidden;
}

h1 {
    padding: 1rem;
}

p {
    padding: 1rem;
}

#button{
    color: white;
}
